@import "tailwindcss";

.chess-position {
  animation: pop-in 0.1s ease both;
  animation-delay: calc(sibling-index() * 0.05s);
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@utility chessboard-size-xl{
  width: 750px;
  height: 750px;
}

@utility chessboard-size-lg{
  width: 500px;
  height: 500px;
}